# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment / secret files
.env

# VS Code settings
.vscode/

# Windows files
Thumbs.db
desktop.ini